<%- include('./partials/head.ejs') %> 
<%- include('./partials/nav.ejs') %> 
    <main>
        <h2>Binvenido !!!</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur impedit officia autem. Tenetur, iusto impedit. Magnam laudantium fuga cupiditate natus assumenda optio quos. Quasi similique quis eveniet unde optio blanditiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur impedit officia autem. Tenetur, iusto impedit. Magnam laudantium fuga cupiditate natus assumenda optio quos. Quasi similique quis eveniet unde optio blanditiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur impedit officia autem. Tenetur, iusto impedit. Magnam laudantium fuga cupiditate natus assumenda optio quos. Quasi similique quis eveniet unde optio blanditiis.</p>

    </main>
<%- include('./partials/footer.ejs') %> 